.cv-editor__education {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__content {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
