.cv-editor__skills {
  height: 15vh;

  &__input {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__rating {
    margin-bottom: 8px;
  }

  &__text {
    width: 30%;
    margin-right: 10px;
  }
}
